#!/usr/bin/env bash

export DEBIAN_FRONTEND=noninteractive

# Set a custom hostname for your Debian environment
echo "debian-live" > /etc/hostname

# Edit sources to include non-free
echo "deb {{ debian_mirror }} bullseye main contrib non-free" > /etc/apt/sources.list

# Install a Linux kernel of your choosing
echo -e "Install a Linux kernel\n"
apt update && \
apt install -yq --no-install-recommends \
    linux-image-amd64 \
    live-boot \
    systemd-sysv

# User settings
apt install -yq --no-install-recommends sudo
/usr/sbin/useradd live -m -s /bin/bash
echo 'live:{{ user_password }}' | /usr/sbin/chpasswd
echo 'root:{{ root_password }}' | /usr/sbin/chpasswd
chown -R live:live /home/live
/usr/sbin/usermod -aG sudo live

# Installing desktop environment
apt install -yq gnome/stable

# Optional, remove what's not needed, games etc.
apt purge -y aisleriot gnome-chess gnome-2048 gnome-mahjongg five-or-more \
    four-in-a-row gnome-nibbles hitori gnome-klotski lightsoff quadrapassel \
    iagno gnome-mines gnome-sudoku swell-foop tali gnome-taquin \
    gnome-tetravex gnome-robots transmission-gtk gnome-weather

# Installing other packages (customise here)
apt install -yq --no-install-recommends \
    net-tools curl openssh-server openssh-client vim git \
    wget zip unzip iputils-ping iproute2 cron jq dconf-editor

# Cleanup
apt -y auto-remove
apt clean

# Remove this script
rm -f ./gdm_install.sh
